@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* common shared styles */
body {
    font-family: "Mulish", sans-serif;
}
.orange-color{
    color: #FF5400;
}
.primary-btn{
    color: #FFFFFF;
    background-color: #FF5400;
    height: 60px;
    width: 180px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}

/* header section styles */
header{
    max-width: 1100px;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-name{
    display: flex;
    gap: 20px;
}
.navbar-name img{
    height: 5%;
    margin-top: 35px;
}
.nav-title{
    font-size: 36px;
    font-weight: 800;
    color: #131318;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #424247;
}
.menu{
    display: none;  /* copied */
}


/* banner styles */
.banner{
    text-align: center;
    background-image:  linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);  /* copied */
    /* background-image:  linear-gradient(180deg, #131318, #13131800), url(../Images/Group\ 13\ \(1\)\ \(1\).png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* copied */
    width: 100%;
    height: 500px;
    padding-top: 50px;
    margin-top: 30px;
    border-radius: 15px;
}
.banner-title{
    font-size: 64px;
    font-weight: 800;
    color: #FFFFFF;
}
.banner-describe{
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    width: 70%;
    padding-left: 200px;
}
.input-fields{
    background-color: #ffffff4b;
    border-radius: 8px;
    padding: 15px;
    max-width: 900px;
    padding-left: 30px;
    margin-left: 100px;
    margin-top: 50px;
}

.input-fields input{
    margin-right: 15px;
    padding: 20px 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

/* maim styles */
main{
    max-width: 1100px;
    margin: 100px auto;
}

/* tours styles */
.popular-tours{
    display: flex;
    gap: 50px;
}
.tours-title{
    font-size: 40px;
    font-weight: 800;
}
.tours-content p, li{
    color: #131318a9;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

@media screen and (max-width:600px) {
    nav{
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
         /* copied */
        padding-left: 10px;
    }
    nav ul{
        display: none;
    }
    .menu{
        display: grid;
        padding-right: 30px;
        /* copied */
    }
    .banner{
        width: 100%;
        height: auto;
        background-position: center; /* copied */
    }
    .banner-title{
        font-size: 28px;
    }
    .banner-describe{
        padding-left: 50px;
        text-align: center;
    }
    .input-fields{
        margin: 20px;
        gap: 20px;
    }
    .input-fields input{
        margin-bottom: 20px;
    }
    .popular-tours{
        flex-direction: column;
    }
    .tours-img img{
        width: 100%;
    }
}
